@model TheBugTracker.Models.ViewModels.AddProjectWithPMViewModel
@using TheBugTracker.Models.Enums

@{
    ViewData["Title"] = "Create";
}




<div class="content-wrapper">
    <div class="row">
        <div class="col grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3>Create Project</h3>
                    <p class="card-description">
                        Create a project for development
                    </p>
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Project.Name" class="control-label"><b>Name</b></label>
                            <input type="text" asp-for="Project.Name" class="form-control" />
                            <span asp-validation-for="Project.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Project.Description" class="control-label"><b>Description</b></label>
                            <textarea type="text" rows="5" asp-for="Project.Description" id="Description" class="form-control"></textarea>
                            <span asp-validation-for="Project.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Project.StartDate" class="control-label"><b>Start Date</b></label>
                            <input type="date" asp-for="Project.StartDate" class="form-control" />
                            <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Project.EndDate" class="control-label"><b>End Date</b></label>
                            <input type="date" asp-for="Project.EndDate" class="form-control" />
                            <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label"><b>Choose A Priority</b></label>
                            <select asp-for="Project.ProjectPriorityId" class="form-select" asp-items="@Model.PriorityList">
                                <option disabled selected>Choose Priority</option>
                            </select>
                        </div>
                        @*
                            Set up image capture
                        *@
                        <div class="form-group">
                            <label class="control-label"><b>Project Image</b></label>
                            <input asp-for="Project.ImageFormFile" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif"
                                   onchange="document.getElementById('imageFileData').src=window.URL.createObjectURL(this.files[0])" />

                            <span asp-validation-for="Project.ImageFormFile" class="text-danger"></span>
                        </div>
                        <label><b>Image Preview</b></label>
                        @if (Model.Project?.ImageFileData != null)
                        {
                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.ImageFileData))" />
                        }
                        else
                        {
                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="" />

                        }
                        @if (User.IsInRole(Roles.Admin.ToString()))
                        {
                            @*
                                Fix up PM select list
                            *@
                            <div class="form-group mt-3">
                                <label class="control-label"><b>Project Manager</b></label>
                                <select asp-for="PmId" class="form-select" asp-items="@Model.PMList">
                                    <option selected disabled>Choose Project Manager</option>
                                    <option></option>
                                </select>
                            </div>
                        }

                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#Description').summernote({
            placeholder: 'Description',
            tabsize: 2,
            height: 200
        });
    </script>

}