@page
@model TheBugTracker.Areas.Identity.Pages.Account.DemoUserModel

@{
    ViewData["Title"] = "Demo";
    Layout = "~/Views/Shared/_LogInFullPartial.cshtml";
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0 bg-dark bg-gradient">
            <div class="row w-100 mx-0">
                <div class="col-lg-5 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo mb-3 text-center">
                            <img src="~/img/LoginRegisterLogo.png" />
                            @*<img src="../../../../images/logo.svg" alt="logo">*@
                        </div>
                        <h4>Hello! let's get started</h4>
                        <h6 class="font-weight-light">Please Choose a Demo Account</h6>
                        <div class="row text-center">
                            <div class="col">
                                <form class="pt-3" id="account" method="post">
                                    <div class="my-2">
                                        <button asp-route-user="admin" type="submit" class="btn btn-block btn-dark btn-sm font-weight-medium auth-form-btn"><i class="bi bi-door-open"></i> Admin</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <form class="pt-3" id="account" method="post">
                                    <div class="my-2">
                                        <button asp-route-user ="pm" type="submit" class="btn btn-block btn-dark btn-sm font-weight-medium auth-form-btn"><i class="bi bi-door-open"></i> Project Manager</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <form class="pt-3" id="account" method="post">
                                    <div class="my-2">
                                        <button asp-route-user ="dev" type="submit" class="btn btn-block btn-dark btn-sm font-weight-medium auth-form-btn"><i class="bi bi-door-open"></i> Developer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <form class="pt-3" id="account" method="post">
                                    <div class="my-2">
                                        <button asp-route-user ="submitter" type="submit" class="btn btn-block btn-dark btn-sm font-weight-medium auth-form-btn"><i class="bi bi-door-open"></i> Submitter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>