@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}




@using Microsoft.AspNetCore.Identity
@using TheBugTracker.Models.Enums
@inject SignInManager<BTUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <title>Pest Control - Bug Tracker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- animate css -->
    <link href="~/IndexPage/css/animate.min.css" rel="stylesheet" />
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- font-awesome -->
    <link href="~/IndexPage/css/font-awesome.min.css" rel="stylesheet" />
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- custom css -->
    <link href="~/IndexPage/css/templatemo-style.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../images/favicon-16x16.png" />

</head>
<body>
    <!-- start preloader -->
    <div class="preloader">
        <div class="sk-spinner sk-spinner-rotating-plane"></div>
    </div>
    <!-- end preloader -->
    <!-- start navigation -->



    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand templatemo-nav" href="#"><img src="~/img/LoginRegisterLogo.png" style="width:150px;height:40px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#feature">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#contact">Contact Us</a>
                    </li>

                </ul>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item pt-1 pb-1 mx-1">
                        <a class="nav-link btn btn-info text-white py-1" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                    <li class="nav-item pt-1 pb-1 mx-1">
                        <a class="nav-link btn btn-outline-danger py-1" asp-area="Identity" asp-page="/Account/DemoUser">Demo User</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- end navigation -->
    <!-- start home -->
    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                        <h1 class="text-upper">The #1 software development tool used by agile teams</h1>
                        <p class="tm-white">Pest Contol is a fully functional bug tracker for teams planning and building great products. Thousands of teams choose Pest Control to capture and organize issues, assign work, and follow team activity. At your desk or on the go with the new mobile interface, Pest Control helps your team get the job done.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="~/IndexPage/images/windowsLaptop.png" class="img-responsive" alt="home img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    <!-- start divider -->
    <section id="divider">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col ">
                    <div class="card h-100 bg-light ">
                        <img src="~/images/assignTeamFeature.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><b>Improved Workflow</b></h5>
                            <p class="card-text text-muted">Eliminate bottlenecks and friction in all processes to ensure consistency and accuracy for your builds.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 bg-light">
                        <img src="~/images/manageTeamsFeature.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><b>Streamedlined DevOps</b></h5>
                            <p class="card-text text-muted">Standardize manual processes, remove complexities and enhance coordination in your DevOps pipeline.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 bg-light">
                        <img src="~/images/submitTicketsFeature.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><b>Actionable Insights</b></h5>
                            <p class="card-text text-muted">Deliver better product quality with data-based strategies and spend less time digesting endless log files.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end divider -->
    <!-- start feature -->
    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Key Features</h2>
                    <p>Pest Control is loaded with valuable features for large or small companies. Listed below are some of the key features</p>
                    <p><span><i class="fa fa-mobile"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p><i class="fa fa-code"></i>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                    <img src="~/IndexPage/images/windowsLaptopHeaderImage.png" class="img-responsive" alt="feature img">
                </div>
            </div>
        </div>
    </section>
    <!-- end feature -->
    <!-- start feature1 -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <img src="~/IndexPage/images/windowsLaptop.png" class="img-responsive" alt="feature img">
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">About</h2>
                    <p>
                        Pest Control is a robust, featureful and mature defect-tracking system, or bug-tracking system. Defect-tracking systems allow teams of developers to keep track of outstanding bugs, problems, issues, enhancement and other change requests in their products effectively.

                        Consequently, Pest Contorl is used by hundreds or thousands of organizations across the globe.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end feature1 -->
    <!-- start pricing -->
    <section id="pricing" class="mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceIn">
                    <h2 class="text-uppercase">Pricing</h2>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing text-uppercase">
                        <div class="pricing-title bg-primary">
                            <h4>Standard</h4>
                            <p>$11</p>
                            <small class="text-uppercase">monthly</small>
                        </div>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> Unlimited Projects</li>
                            <li><i class="bi bi-check-circle-fill"></i> Ticket History</li>
                            <li><i class="bi bi-check-circle-fill"></i> Annotating screenshots</li>
                            <li><i class="bi bi-check-circle-fill"></i> 10 GB storage</li>
                        </ul>
                        <button class="btn btn-primary text-uppercase">Sign up</button>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing active text-uppercase">
                        <div class="pricing-title bg-warning">
                            <h4>Premium</h4>
                            <p>$22</p>
                            <small class="text-uppercase">monthly</small>
                        </div>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> Everything on <strong>Standard</strong></li>
                            <li><i class="bi bi-check-circle-fill"></i> Video Feedback <span class="badge rounded-pill text-bg-primary">BETA</span></li>
                            <li><i class="bi bi-check-circle-fill"></i> Member only commenting</li>
                            <li><i class="bi bi-check-circle-fill"></i> 50 GB storage</li>
                        </ul>
                        <button class="btn btn-primary text-uppercase">Sign up</button>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing text-uppercase">
                        <div class="pricing-title bg-success">
                            <h4>Deluxe</h4>
                            <p>$33</p>
                            <small class="text-uppercase">monthly</small>
                        </div>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> Everything on <strong>Premium</strong></li>
                            <li><i class="bi bi-check-circle-fill"></i> Guest feedback</li>
                            <li><i class="bi bi-check-circle-fill"></i> Custom branding/logo</li>
                            <li><i class="bi bi-check-circle-fill"></i> 150 GB Storage</li>
                        </ul>
                        <button class="btn btn-primary text-uppercase">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end pricing -->
    <!-- start contact -->
    <section id="contact">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <h2 class="text-uppercase">Contact Us</h2>
                        <p>Need help?  Have suggestions? We are here to answer any questions you may have about <strong>Pest Control</strong>.  Reach out to us and we will respond as soon as we can.</p>
                        <address>
                            <p><i class="fa fa-map-marker"></i>36 Easy Street, New Orleans, Louisiana</p>
                            <p><i class="fa fa-phone"></i> 504-233-0249</p>
                            <p><i class="fa fa-envelope-o"></i> info@PestControl.com</p>
                        </address>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="contact-form">
                            <form action="#" method="post">
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                                </div>
                                <div class="col-md-8">
                                    <input type="submit" class="form-control text-uppercase" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact -->
    <!-- start footer -->
    <footer>
        <div class="container">
            <div class="row">
                <p>Copyright © <b>2022 Pest Control</b></p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <p>Distributed By <b>Channing Robertson</b></p>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <script src="~/IndexPage/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="~/IndexPage/js/wow.min.js"></script>
    <script src="~/IndexPage/js/jquery.singlePageNav.min.js"></script>
    <script src="~/IndexPage/js/custom.js"></script>
</body>
</html>


